---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
    <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
        <div>E-mail: lweist3317@gmail.com</div>
    </div>
</DefaultLayout>