---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Icon } from 'astro-icon/components'
---


<DefaultLayout title="Home">
  <Hero />
  <section >
    <div class="container">
      <h2 class="mb-16 text-6xl">Projects</h2>
    </div>
  </section>
  
  <ContentMedia imgSrc="/tmpeffects.gif" class="mb-64 mt-32" reverseImg>
    <h2>TMPEffects</h2>
    <p class="text-2xl">
      Upgrade your Unity texts!<br>
      With TMPEffects, you can easily animate your text over time,
      show and hide text character by character (with specialized animations),
      and raise events and execute commands at any given index, all of this just using custom rich text tags.<br>
      A powerful API allows you to create your own animations and commands, either as Monobehaviors (which allow you to easily reference scene objects) or
      as normal C# classes.
    <div class="flex flex-col gap-3 min-[500px]:flex-row">
      <a class="button has-icon" href="https://github.com/Luca3317/TMPEffects">
        <Icon name="ion:star-outline" />
        Star on GitHub
      </a>
      <a class="button has-icon color-secondary" href="/tmpeffects" target="_blank">
        <Icon name="ion:bookmark-outline"/>
        Read more
      </a>
    </div> 
    </p>
  </ContentMedia>
<ContentMedia imgSrc="/arieslogo.png" class="mb-64 mt-32">
    <h2>Farseer's Domain</h2>
    <p class="text-2xl">
      Ive been doing freelance work for SmokeStackStudios' Project Aries since February 2025.  

      https://www.smkstackstudios.com/aries
    </p>
  </ContentMedia>
<ContentMedia imgSrc="/fdlogo.png" class="mb-64 mt-32" reverseImg>
    <h2>Farseer's Domain</h2>
    <p class="text-2xl">
      Ive been doing freelance work for Farseer's Domain since August 2024.  

      https://farseersdomain.com/
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/gamejam.png" class="mb-64 mt-32">
    <h2>GameJam Entries</h2>
    <p class="text-2xl">
      My various entries for GameJams.
 
      <ul>
        <li>Disco Elysium Clone - Made in one month for the July 2024 OGAM Jam<br></li>
        <li><a href="https://luca3317.itch.io/horror-demo">Horror Demo</a> - Made in free time while working on my Bachelor's degree<br>Complete (but unpolished) First person horror game controller</li>
        <li><a href="https://luca3317.itch.io/returned">Returned</a> - Made in 9 days for the GameDev.tv Jam.<br>Point and click puzzle adventure game.</li> 
        <li><a href="https://luca3317.itch.io/endless-terminal-hacking">Endless Terminal Hacking</a> - Made in 2 days for the MixJam 10.<br>Recreation of the hacking minigame in the 3D Fallout games.</li>
      </ul>  

      <div class="flex flex-col gap-3 min-[500px]:flex-row">
        <a class="button has-icon" href="https://itch.luca3317.dev">
          <Icon name="itch-io" />
          View on itch.io
        </a>
      </div>
    </p>
  </ContentMedia> 
  <ContentMedia imgSrc="/openlibrary.png" class="mb-64 mt-32" reverseImg>
    <h2>OpenLibrary.NET</h2>
    <p class="text-2xl">
      An extensive C# library for interfacing with all stable APIs of OpenLibrary by the InternetArchive.
    <div class="flex flex-col gap-3 min-[500px]:flex-row">
      <a class="button has-icon" href="https://github.com/Luca3317/OpenLibrary.NET">
        <Icon name="ion:star-outline" />
        Star on GitHub
      </a>
      <a class="button has-icon color-secondary" href="https://github.com/Luca3317/OpenLibrary.NET/tree/main/docs" target="_blank">
        <Icon name="ion:bookmark-outline"/>
        Read the docs
      </a>
    </div>
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="" class="mb-64 mt-32">
    <h2>University Projects</h2>
    <p class="text-2xl">
      
      <h5>Lab: "Ghidra PlugIn: Detecting unsecure functions"</h5>
      <p style="margin-left:5em;">
      Development of a plugin for Ghidra (a suite of reverse engineering tools developed by the NSA) that serves to automatically detect various categories of unsecure C functions:<br>
      Null Pointer Dereference (CWE-476), Out-of-Bounds Access and Buffer Overflow (CWE-125 and CWE-787), and Use-After-Free and Double Free (CWE-416 and CWE-415 respectively).
      </p>

      <div class="flex flex-col gap-3 min-[500px]:flex-row">
        <a class="button has-icon" href="/LabReport.pdf" download="LucaWeist_LabReport">
          <Icon name="mdi:paper-outline" />
          Paper PDF (Download)
        </a>
        <a
          class="button has-icon color-secondary"
          href="https://github.com/Luca3317/GhidraPlugin"
        >
          <Icon name="ion:logo-github" />
          PlugIn Repository
        </a>
      </div>
      <br>
            

      
      <h5>Bachelor's Thesis: "Performance Evaluation of Security Protocols in LibP2P Connections"</h5>
      <p style="margin-left:5em;">
        In-depth performance analysis of the various existing security protocols for LibP2P (a modular, open-source protocol stack and library for the development of peer-to-peer networking applications).<br>
        In the course of this, also an implementation of the Signal protocol compatible with LibP2P in Golang.        <br>
      </p>

      <div class="flex flex-col gap-3 min-[500px]:flex-row">
        <a class="button has-icon" href="/Thesis.pdf" download="LucaWeist_Thesis">
          <Icon name="mdi:paper-outline" />
          Thesis PDF (Download)
        </a>
        <a 
        class="button has-icon color-secondary"
        href="https://github.com/Luca3317/SignalLibP2P"
      >
        <Icon name="ion:logo-github" />
        Protocol Repository
      </a>
      </div> 
    </p>
  </ContentMedia> 
</DefaultLayout>

