---
import ResumeLayout from '../layouts/ResumeLayout2.astro';

const title = "Resume - Your Name";
const description = "A professional resume for Your Name";
---

<ResumeLayout {title} {description}>
  <h1>Luca Alexander Weist</h1>
  <p><strong>Email:</strong> <a href="mailto:lweist3317@gmail.com">lweist3317@gmail.com</a></p>
  <p><strong>Phone:</strong> +49 160 91335561</p>
  <p><strong>Location:</strong> Bonn, Germany</p>
  <p><strong>Website:</strong> <a href="https://luca3317.dev">luca3317.dev</a></p>

  <hr />

  <h2>Summary</h2>
  <p>
    Passionate Junior game developer / programmer with about a year of professional experience and 3+ years of prior hobbyist experience. Experience primarily using Unity, some Godot.
  </p>

  <hr />

  <h2>Skills</h2>
  <ul>
    <li><strong>Languages:</strong> C#, Java, C, Lua, some Python, some C++, some Assembly</li>
    <li><strong>Engines:</strong> Strongly experienced in Unity, a little in Godot </li>
    <li><strong>Tools:</strong> Git, Rider / VisualStudio, Docker, some AWS</li>
    <li><strong>Im well-versed in a lot of the major Unity packages (including Addressables, Netcode, Cinemachine, InputSystem, NavMesh, Unity Test Framework). 
      Some other, unofficial Unity Packages I'm quite familiar with:</strong>
      <ul>
        <li><a href="https://github.com/Cysharp/UniTask">UniTask</a></li>
        <li><a href="https://github.com/crashkonijn/GOAP">Unity-GOAP</a></li>
        <li><a href="https://github.com/nuskey8/Lua-CSharp">Lua-CSharp</a></li>
        <li><a href="https://github.com/annulusgames/TweenPlayables">TweenPlayables</a></li>
        <li><a href="https://github.com/Facepunch/Facepunch.Steamworks">FacePunch.Steamworks</a></li>
        <li><a href="https://github.com/YarnSpinnerTool/YarnSpinner-Unity">YarnSpinner-Unity</a></li>
        <li><a href="https://assetstore.unity.com/packages/tools/physics/obi-rope-55579">ObiRope</a></li>
        <li><a href="https://github.com/Luca3317/TMPEffects">TMPEffects</a> (I made that one!)</li>
      </ul>
    </li>
  </ul>

  <hr />

  <h2>Experience</h2>
  <p>
    <strong>Freelance: SmokeStack Studios, US-based</strong><br />
    <em>Virtual Training Simulations; training software for fire brigade operations and for school shooting incidents used by the departments in Texas</em>
    <em>February 2025 - Present</em>
  </p>
  <ul>
    <li>Contributed hands-on development work, averaging 25–35 hours per week</li>
    <li>Implemented a multitude of new gameplay features, such as AI-assisted analysis of communications made over the radio for adherence to the NIMS protocol, a physically-simulated growing firehose, dynamic audio occlusion, and many more
    <li>Improved and bugfixed existing gameplay features, such as NPC interactions, NPC AI, dynamic smoke and room pressure systems, and many more</li>
    <li>Implemented a lot of systems utilizing Netcode (including some of the features mentioned above)</li>
    <li>Collaborated with a small international team, both asynchronously and synchronously</li>
  </ul>

  <p>
    <strong>Freelance: Farseer's Domain (Flufflesocket Studios), US-based</strong><br />
    <em>A simultaneous, turn-based MOBA, serving as a spiritual successor to Atlas Reactor</em>
    <em>August 2024 - March 2025</em>
  </p>
  <ul>
    <li>Committed 20 hours per week implementing a multitude of new gameplay features, such as various new character abilities, lobby functionality, status effects, and more</li>
    <li>Maintained and bugfixed existing gameplay features and deeper systems stuff</li>
    <li>Executed numerous minor fixes alongside more key enhancements to improve user experience.</li>
    <li>Collaborated with a larger, ~10 person team, both asynchronously and synchronously</li>
    <li>Also did the german localization for the game</li>
  </ul>

  <hr />

  <h2>Education</h2>
  <h3>Bachelor of Science in Computer Science</h3>
  <p>
    <strong>University of Bonn, Bonn, Germany</strong><br />
    <em>2018 – 2022, final grade 1.3 (equiv. to roughly US GPA of 3.8)</em>
  </p>

  <h3>Allgemeine Hochschulreife / General Qualification for University Entrance (Abitur)</h3>
  <p>
    <strong>Ernst-Kalkuhl-Gymnasium, Bonn, Germany</strong><br />
    <em>graduated 2017</em>
  </p>

  <hr />

  <h2>Projects</h2>
  Relevant, public projects can be found on my homepage: <a href="https://luca3317.dev">luca3317.dev</a>
</ResumeLayout>
