---
import SkillsList from "../React/SkillsList.tsx";
import LogoWall from "../components/logoWall.astro";
import { Icon } from 'astro-icon/components';

const socials = [
  { name: "GitHub", icon: "simple-icons:github", href: "https://github.com/luca3317" },
  { name: "itch.io", icon: "simple-icons:itchdotio", href: "https://luca3317.itch.io/" },
  { name: "Email", icon: "simple-icons:gmail", href: "https://mail.google.com/mail/?view=cm&fs=1&to=lweist3317@gmail.com&su=Hey%20Luca!" },
  { name: "Twitter", icon: "simple-icons:x", href: "https://twitter.com/LAW3317" },
];
---

<section class="text-[var(--white)] mt-12 md:mt-0" id="testhome">
  <div class="max-w-5xl mx-auto space-y-8 md:py-12 pb-14">
    <div class="text-left space-y-4">
      <p class="text-md md:text-lg text-[var(--white-icon)] shiny-white">
        Hi, I'm Luca Weist. I'm a
      </p>
      
      <div class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4">
        <h1 class="text-[var(--white)] text-5xl md:text-6xl font-medium text-pretty leading-none">
          Game <br /> Developer
        </h1>
<p class="text-md md:text-lg text-[var(--white-icon)]">
  <span class="text-lg md:text-2xl text-[var(--white)] font-medium"> 
    with multiple years of professional experience creating 
    <span class="text-[var(--sec)] shiny-sec">games</span> as well as 
    <span class="text-[var(--sec)] shiny-sec">tools</span> to aid development.
  </span>
</p>
      </div>

      <div class="flex justify-start gap-3 pt-3 md:pt-6">
        {socials.map((social) => (
          <a 
            target="_blank" 
            href={social.href} 
            aria-label={social.name} 
            class="group flex items-center justify-center p-3 rounded-xl 
                   bg-black/[0.03] dark:bg-white/[0.03] 
                   border border-black/10 dark:border-white/10 
                   hover:border-primary/50 hover:bg-primary/10 transition-all duration-300"
          >
            <Icon 
              name={social.icon} 
              class="size-6 text-black/60 dark:text-white/60 group-hover:text-primary transition-all duration-300" 
            />
          </a>
        ))}

<a 
  href="/resume-lucaweist.pdf" 
  download 
  class="ml-auto group flex items-center w-fit px-4 py-3 rounded-xl 
         bg-black/[0.03] dark:bg-white/[0.03] 
         border border-black/10 dark:border-white/10 
         hover:border-primary/50 hover:bg-primary/10 transition-all duration-300"
>
  <span class="font-medium text-sm whitespace-nowrap text-black/60 dark:text-white/60 group-hover:text-primary transition-all duration-300">
    Download Resume
  </span>
</a>
      </div>
    </div>
  </div>
  <LogoWall />
</section>

<style is:global>
  .shiny-sec {
    background: linear-gradient(135deg, #a476ff 25%, #eee5ff 50%, #a476ff 75%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    0% { background-position: 100% 50%; }
    30%, 70% { background-position: 0% 50%; }
  }
</style>
